/* Entire page styles start */
.page-container {
    position: relative;
    min-height: 94vh;
}

body {
    font-family: 'Helvetica', sans-serif;
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding: 0;
    overflow-x: hidden;
}

/* body {
    display: flex;
    flex-direction: column;
    background-image: url('../img/mtn-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Helvetica', sans-serif;
    font-weight: 100;
    margin: 25px 0px 0px 0px;
} */

.fixed-bg {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 104vh;
    background-image: url('../img/mtn-bg.jpg');
    background-size: cover;
    z-index: -1;
}

body:after {
    content: '';
    display: table;
    clear: both;
}
/* Entire page styles end */


/* Navigation styles start */
header {
    text-align: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    padding: 10px 0;
    width: 100%;
    flex-shrink: 0;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    display: flex;
    justify-content: center;
}

.menu {
    overflow: hidden;
}

.menu a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #eff8ff;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    text-transform: lowercase;
    border-color: #eff8ff;
}

.menu li {
    list-style-type: none;
}

.menu a:hover, .menu a:active {
    font-weight: bold;
}

.menu .hamburger-icon {
    display: none;
}

.scrolled {
    transition: 200ms linear;
    background: #00333d;
}

.push-down {
    margin-top: 250px !important;
}

@media screen and (max-width: 600px) {
    .menu a {
        display: none;
        position: relative;
    }

    .menu a.hamburger-icon {
        display: block;
        position: relative;
    }

    .menu.responsive {
        position: relative;
    }

    .menu.responsive a.hamburger-icon {
        position: relative;
    }

    .menu.responsive a {
        float: none;
        display: block;
    }
}

/* @media screen and (min-width: 600px) {
    .push-down {
        margin-top: 250px;
    }
} */

.dropdown {
    float: left;
    overflow: hidden;
}
/* Navigation styles end */

/* Body styling start */
.body-text {
    line-height: 1.75em;
    text-align: center;
    position: relative;
    margin: auto;
    top: 100%;
    font-family: 'Helvetica', sans-serif;
    font-weight: 100;
    color: #eff8ff;
}

a.body-text {
    display: inline-block;
    color: #eff8ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    text-transform: lowercase;
    border-color: #eff8ff;
}

a.body-text:hover, a.body-text:active {
    font-weight: bold;
}

.body-text-max {
    max-width: 350px;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
}

.body-header {
    font-size: 3.5em;
    font-weight: 600;
    padding-bottom: 10px;
    padding-top: 100px;
}

.body-title {
    font-size: 2em;
    font-weight: 600;
    padding-bottom: 10px;
    padding-top: 50px;
}

.circle-img {
    width: 10em;
    height: 10em;
    border-radius: 10em;
    background-clip: padding-box;
    background-size: cover;
    background-position: center center;
}

/* Image hover effects start */
.home-img {
    height: 10em;
    width: 10em;
    border-radius: 10em;
    background-clip: padding-box;
    background-size: cover;
    background-position: center center;
}
.uw-img {
    background-image: url(../img/uw-mad.jpg);
}

.adventure-img {
    background-image: url(../img/mya-adventure.jpg);
}

.programmer-img {
    background-image: url(../img/programmer.jpg); 
}

.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 150px;
	height: 150px;
	display: inline-block;
	margin: 20px 40px 20px 40px;
}

@media (max-width: 300px) {
    .ch-grid li {
        margin: 20px 0px;
    }
}

.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	cursor: default;
	box-shadow: 
		inset 0 0 0 8px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;
}

.ch-item:hover, .ch-item:active {
	box-shadow: 
		inset 0 0 0 1px rgba(255,255,255,0.1),
		0 1px 2px rgba(0,0,0,0.1);
}

.ch-info {
	position: absolute;
	background: rgba(76, 95, 99, 0.8);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
}

.ch-item:hover .ch-info, .ch-item:active .ch-info {
	transform: scale(1);
	opacity: 1;
}

.ch-info h3 {
	color: #fff;
	text-transform: lowercase;
	letter-spacing: 2px;
	font-size: 15px;
	margin: 0 20px;
    height: 140px;
    vertical-align: middle;
    text-align: center;
	font-family: 'Helvetica', sans-serif;
	text-shadow: 
		0 0 1px rgb(66, 80, 87), 
		0 1px 2px rgba(0,0,0,0.3);
}

.text-one-line {
	padding: 62px 0 0 0;
}

.text-two-line {
	padding: 50px 0 0 0;
}
/* Body styling end */

/* Footer styling start */
footer {
    display: flex;
    flex: 0 0 40px;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    flex-shrink: 0;
}

.footer-space {
    padding-bottom: 40px;
}

footer::after {
    content: '';
    display: table;
    clear: both;
}

footer div {
    padding-right: 1em;
}

.fa-envelope-o {
    display: block;
}

.circle-bg {
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    margin: 15px 3px;
    border-radius: 50%;
    width: 1.8em;
    height: 1.8em;
    font-size: 1em;
    line-height: 1.8em !important;
    -webkit-animation: in 1s !important;
    animation: in 1s;
}

.circle-bg:hover, .circle-bg:active {
    transition: 1s !important;
    background: #00333d;
    -webkit-animation: out 1s !important;
    animation: in 1s;
}

@-webkit-keyframes in {
    from   { -webkit-transform: rotate(0deg); transition: 1s; }
    to { -webkit-transform: rotate(360deg); transition: 1s; }
}
@keyframes in {
    from   { -webkit-transform: rotate(0deg); transition: 1s; }
    to { -webkit-transform: rotate(360deg); transition: 1s; }
}

@-webkit-keyframes out {
    0%   { -webkit-transform: rotate(360deg); transition: 1s; }
    100% { -webkit-transform: rotate(0deg); transition: 1s; }
}
@keyframes out {
    0%   { -webkit-transform: rotate(360deg); transition: 1s; }
    100% { -webkit-transform: rotate(0deg); transition: 1s; }
}

.fa:hover, .fa:active {
    transition: color 0.3s ease-in;
    transform: rotate(360deg);
}

.footer-icons {
    color: #eff8ff;
}
/* Footer styling end */

/* Skills bar start */
.skills-bar-main {
    margin: auto;
    max-width: 90%;
    width: 90% !important;
    background-color: transparent;
    text-align: left;
    position: relative;
}

.skills-bar-bg {
    background-color: #c5eaee;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
}

/* Skill ratings */
.sk-armassembly { width: 60% }
.sk-aspnet { width: 75% }
.sk-c { width: 60% }
.sk-cpp { width: 30% }
.sk-csharp { width: 70% }
.sk-css { width: 90% }
.sk-git { width: 75% }
.sk-html { width: 90%; }
.sk-java { width: auto; }
.sk-javascript { width: 75% }
.sk-jquery { width: 75% }
.sk-python { width: 25% }
.sk-sql { width: 40% }
.sk-verilog { width: 20% }

.skills-bg {
    background-color: #194b5a;
    margin: 10px 0px;
    padding: 2px 10px;
    border-radius: 4.5px;
}
/* Skills bars end */

/* Favorites start */
.fav-bg {
    display: inline-block;
    background-color: #194b5a;
    margin: 4px 2px;
    padding: 2px 10px;
    border-radius: 4.5px;
    max-width: max-content;
}
/* Favorites end */

/* Contact form start */
.contact-form {
    text-align: center !important;
    align-self: center;
}

#my-form {
    position: relative;
    max-width: 500px;
    margin: 0px auto 100px auto;
}

@media screen and (max-width: 510px) {
    .form-items {
        max-width: 300px;
    }

    .form-submit {
        max-width: 332px;
    }
}

input, button, textarea {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    
    background: transparent;
    outline: none;
    color: #eff8ff;
    
    border: solid 1px #eff8ff;
    border-bottom: none;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
  
textarea {
    width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    resize: none;
    font-size: 0.875em;
    border: solid 1px #eff8ff;
}

input::placeholder {
    color: #eff8ff;
}

input:hover::placeholder, input:active::placeholder {
    color: #00333d;
}

input:hover, input:active {
    background: #eff8ff;
    color: #00333d;
}

textarea::placeholder {
    color: #eff8ff;
}

textarea:hover::placeholder, textarea:active::placeholder {
    color: #00333d;
}
  
textarea:hover, textarea:active {
    background: #eff8ff;
    color: #00333d;
}
  
#submit {
    width: 502px;
    padding: 0;
    margin: -9px 0px 0px 0px;
    font-size: 0.875em;
    font-family: 'Helvetica', sans-serif;
    color: #eff8ff;
    outline: none;
    cursor: pointer;
    border: solid 1px #eff8ff;
    border-top: none;
}
  
#submit:hover, #submit:active {
    color: #eff8ff;
    background: #062831;
    border: solid 1px #eff8ff
}
/* Contact form end */

/* About me timeline start */
.timeline-main {
  min-width: 300px;
  max-width: 500px;
  margin: auto;
  padding: 0px 40px 10px 40px;
}

.timeline-p {
  font-size: 1em;
  line-height: 1.75em;
  border-top: 3px solid;
  border-image: linear-gradient(to right, #194b5a 0%, #a8bec4 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 40px;
  counter-increment: section;
  position: relative;
  color: #eff8ff;
}

/* Odd number borders */
.timeline-p:nth-child(odd) {
  border-right: 3px solid;
}
  
.timeline-p:nth-child(odd):before {
    left: 100%; 
    margin-left: -20px;
}

/* Even number borders */
.timeline-p:nth-child(even) {
  border-left: 3px solid;
}

.timeline-p:nth-child(even):before {
    right: 100%; 
    margin-right: -20px;
}

/* First and last events */
.timeline-p:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}

.timeline-p:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}
/* About me timeline end */